*{
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#bname{
    font-size: 20px;
    margin-top: -20px;
    color: rgb(218, 11, 11);
}
.navber{
    height: 45px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    padding-top: 10px;
    padding-bottom: 5px;
    position: fixed;
}
.nav0{
    background-color: transparent;
}
.nav1{
    color: rgb(252, 254, 255);
    background-color: transparent;
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    margin-right: 20px;
    padding-top: 10px;
    margin-left: 15px;
    background-color: transparent;
}
#float0{
    margin-left: 480px;
    padding-top: 10px;
    width: 60.5px;
}
.fa-circle-user{
    background-color: transparent;
    font-size: 28px;
    margin-top: -5px;
    margin-left: -5px;
}
.anker0{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
}
#dropdown{
    position: relative;
}
.drop{
    display: none;
    position: absolute;
    width: 100px;
    padding: 8px;
    padding-right: 20px;
    background-color: rgb(170, 161, 161);
    border-radius: 5px;
}
.drop ul li{
        list-style-type: none;
        background-color: rgb(170, 161, 161);
        padding: 7px;
}
#dropdown:hover .drop{
    display: block;
}
.table{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
}
.table:hover{
    color: rgb(255, 3, 3);
    background-color: transparent;
}
.navber .nav0 li a:hover{
    color: rgb(255, 3, 3);
}
.tab{
    color: rgb(255, 14, 14);
    padding-top: 45px;
    text-align: center;
}
.top{
    color: rgb(223, 28, 28);
    padding:20px;
    padding-left: 30px;
    text-align: center;
}
.front{
    font-size: 22px;
    color: rgba(208, 112, 74, 0.97);
    padding: 5px;
}
.side{
    padding-left: 65px;
}
.buy{
    padding-left:100px;
}
.buy button{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}
.buy a{
    background-color: red;
    text-decoration-line: none;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
table,td,tr{
    padding-left: 60px;
}
td{
    padding: 20px;
}
